<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Back to tweets", tweets_path %>
  <% if @tweet.user == current_user %>
    <%= link_to "Edit this tweet", edit_tweet_path(@tweet) %> |
    <%= button_to "Destroy this tweet", @tweet, method: :delete %>
  <% end %>
</div>
